﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var Context = HttpContextAccessor.HttpContext;
    string PartnerName = Context.Session.GetString("PartnerName");
    string PartnerPart1 = Context.Session.GetString("PartnerName1");
    string PartnerPart2 = Context.Session.GetString("PartnerName2");
    string PrimaryColor = Context.Session.GetString("PrimaryColor");
    string SecondaryColor = Context.Session.GetString("SecondaryColor");
    string Controller = ViewContext.RouteData.Values["controller"].ToString();
    string Action = ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Touchstone</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ======================================== Stylesheet Imports ======================================== -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style-->
    <link rel="stylesheet" href="~/css/infy.min.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!-- Daterange Picker -->
    <link rel="stylesheet" href="~/Plugins/daterangepicker/daterangepicker.css" />
    <!-- Summernote -->
    <link rel="stylesheet" href="~/Plugins/summernote/summernote-bs4.css" />
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-flash-1.6.1/r-2.2.3/sc-2.0.1/sp-1.0.1/datatables.min.css" />

    <!-- ====================================== End Stylesheet Imports ====================================== -->
    <!-- ======================================== Script Imports ======================================== -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
            integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
            crossorigin="anonymous"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip-->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 4 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous"></script>
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <!-- JQVMap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.usa.js"></script>
    <!-- Template JS -->
    <script type="text/javascript" src="~/js/site.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- Summernote -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.11.0/js/jquery.overlayScrollbars.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-flash-1.6.1/r-2.2.3/sc-2.0.1/sp-1.0.1/datatables.min.js"></script>
    <!-- Load Screen -->
    <script>
        window.addEventListener('beforeUnload', (event) => {
            let currentPath = even.currentTarget.location.href;
            if (currentPath.includes('Edit') && statecheck == 1) {
                event.preventDefault();
                event.returnValue = '';
            } else {
                showLoader();
            }
            return '';
        });

        function showLoader() {
            $('body').html('<canvas id="canvas" width="0" height="0"></canvas>').css('background', '#efefef').css('overflow', 'hidden');
            loader('@PrimaryColor', '@SecondaryColor');
        }
    </script>
    <!-- Select Job Action -->
    <script>
        $(document).on('click', '.select-job-action', function () {
            var ID = $(this).attr('id');
            var Controller = '@Controller';
            var URL = `/${Controller}/Edit/${ID}`;
            console.log(URL);
            window.location.href = URL;
        })
    </script>
    <!-- NavBar Highlighter -->
    <script>
        $(document).ready(function () {
            var Controller = '@Controller';
            var Action = '@Action';

            var TreeItem = TreeItem = $(`a[href="/${Controller}/${Action}"].nav-link`);
            if (!TreeItem.length) {
                TreeItem = $(`a[href="/${Controller}"].nav-link`);
            }
            TreeItem.addClass('active');

            var Parent = TreeItem.parents('.nav-item');
            if (Parent.length) {
                Parent.addClass('menu-open');
                Parent.children('.nav-link').addClass('active');
            }
        })
    </script>
    <!-- Integrated Partner Card Coloring -->
    <script src="~/js/CardColor.js"></script>
    <script>
        $(document).ready(function () {
            ChangePrimary('@PrimaryColor');
        })
    </script>
</head>
<body class="sidebar-mini layout-fixed control-sidebar-slide-open" style="height:auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar narvbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Logo -->
            <a href="/" class="brand-link">
                <img src="~/Images/yinyang.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity:.8;" />
                <span class="brand-text font-weight-light">@if (String.IsNullOrWhiteSpace(PartnerPart2))
                { <text>@PartnerName</text> }
                else
                { <text>@PartnerPart1<span style="color:#@PrimaryColor">@PartnerPart2</span></text> }</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-flat text-sm" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-folder"></i>
                                <p>
                                    Active Stages
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/LOIs" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>LOIs</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Proposals" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Proposals</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Opportunities" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Opportunities</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.Sidebar Menu -->
            </div>
            <!-- /.Sidebar -->
        </aside>

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <!-- Content Header -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewData["ParentRoute"] <small>@ViewData["HeaderDescription"]</small></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-dashboard"></i> Home</a></li>
                                <li class="breadcrumb-item">@ViewData["ParentRoute"]</li>
                                @if (ViewData["FirstChildRoute"] != null)
                                {
                                    <li class="breadcrumb-item">@ViewData["FirstChildRoute"]</li>
                                }
                                @if (ViewData["SecondChildRoute"] != null)
                                {
                                    <li class="breadcrumb-item">@ViewData["SecondChildRoute"]</li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Content Header -->

            <!-- Main Content -->
            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>
</body>
</html>