﻿<div class="card card-primary">
    <div class="card-header">
        <h5 class="card-title">Customer Information</h5>
    </div>

    <div class="card-body" style="background-color:#e5e5e5;">
        <br />
        <br />
        <br />
        <br />
    </div>

    <div class="card-body">
        <br />
        <br />
        <br />
        <br />
    </div>
</div>