﻿@using TouchstoneV2.ViewComponents.Models
@model PageData
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-lg-3">
        @await Component.InvokeAsync("CustomerInformation", Model)
    </div>
</div>

