﻿@{
    ViewBag.ParentRoute = "LOIs";
    ViewBag.HeaderDescription = "List";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">LOIs</h4>
                <div class="card-tools">
                    <div class="btn-group">
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end">
                            <a href="/LOIs/CreateLead" class="dropdown-item">New Lead</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table id="lead-list-table" class="table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Date Created</th>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Lead Source</th>
                            <th>Elapsed Days</th>
                            <th>Return Appointment</th>
                            <th>Hours Until</th>
                            <th>Last Note Date</th>
                            <th>Latest Deal Note</th>
                            <th>Duplicate?</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('#lead-list-table').DataTable({
        ajax: {
            type: 'POST',
            url: '/LOIs/GetLOIs',
            dataSrc: ''
        },
        deferRender: true,
        scroller: true,
        scrollY: 200,
        bAutoWidth: true,
        responsive: true,
        order: [[1, 'desc']],
        createdRow: function (row, data, index) {
            $(row).addClass('select-job-action')
                  .attr('id', data.ID);
        },
        columns: [
            { data: 'CreationStamp' },
            { data: 'CustomerName' },
            { data: 'Address' },
            { data: 'Phone' },
            { data: 'LeadSource' },
            { data: 'ElapsedDays' },
            { data: 'ReturnAppointment' },
            { data: 'HoursUntil' },
            { data: 'LastNoteDate' },
            { data: 'LastDealNote' },
            { data: 'Duplicate' }
        ]
    });
</script>