﻿@model TouchstoneV2.DTO.User.AuthUserDTO
@{
    Layout = null;
    ViewData["Title"] = "Login Page";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link runat="server" rel="shortcut icon" href="~/myicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/myicon.ico" type="image/ico" />
    <!-- Bootstrap 3.3.7 -->
    <!-- <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- Bootstrap 4.4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/App.css" />
    <!--<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <style>
        body {
            background-color: black;
            overflow-x: hidden;
        }

        .banner {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            background-image: url(../Images/front.jpg);
            background-position: 50%;
            background-size: cover;
        }

        .signin-form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 100%;
            margin: 0 auto;
        }

            .signin-form input {
                margin-bottom: 24px;
            }

        .align-center {
            text-align: center;
        }

        .font-bold {
            font-weight: 600;
            color: white;
        }

        .app-name {
            display: flex;
            align-items: center;
            color: white;
        }

            .app-name span {
                padding: 0 12px;
            }

        .bar {
            flex: auto;
            border: none;
            height: 1px;
            background-color: #aaa;
        }
    </style>
</head>

<body>
    <div class="row" style="height:100%;">
        <div class="col-lg-3">
            <div class="signin-form">
                @using (Html.BeginForm("Authorization", "Login", FormMethod.Post))
                {
                <div class="row" style="color:white;">
                    <div class="col-12 align-center mb-4">
                        <h1 class="font-bold">Infinity<span style="color:#bada55;">Energy</span></h1>
                        <div class="app-name">
                            <hr class="bar" />
                            <span>Touchstone</span>
                            <hr class="bar" />
                        </div>
                    </div>
                    <div class="col-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12">
                        <h4>Username</h4>
                        @Html.EditorFor(model => model.Login_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                        @Html.ValidationMessageFor(model => model.Login_Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 mb-4">
                        <h4>Password</h4>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 align-center mb-3">
                        <button class="btn btn-bada55 btn-block btn-flat btn-lg font-bold" type="submit">Sign in</button>
                    </div>
                    <div class="col-12 align-center">
                        <a style="cursor:pointer;" href="#" class="forgotPassword" id="forgotPassword">Forgot Your Password? Click here to reset it!</a>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-lg-9 d-lg-block d-none">
            <div class="banner"></div>
        </div>
    </div>
</body>

<body style="background-color:black;">
    <div class="row" style="height:inherit;">
        <div class="col-lg-3">
            <div class="signin-form">
                @using (Html.BeginForm("Authorization", "Login", FormMethod.Post))
                {
                    <div class="row" style="color:white;">
                        <div class="col-lg-12 align-center">
                            <h1 class="font-bold">Infinity<span style="color:#bada55;">Energy</span></h1>
                            <div class="app-name">
                                <hr class="bar">
                                <span>Touchstone</span>
                                <hr class="bar">
                            </div>
                        </div>
                        <div class="col-lg-12 gap-30"></div>
                        <div class="col-lg-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-12">
                            <h4>Username</h4>
                            @Html.EditorFor(model => model.Login_Name, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Username" } })
                            @Html.ValidationMessageFor(model => model.Login_Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-12">
                            <h4>Password</h4>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Password", type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-12 gap-20"></div>
                        <div class="col-lg-12 align-center">
                            <button class="btn btn-bada55 btn-block btn-flat btn-lg font-bold" type="submit">Sign in</button>
                        </div>
                        <div class="col-lg-12 gap-20"></div>
                        <div class="col-lg-12 align-center">
                            <a style="cursor:pointer;" href="#" class="forgotPassword" id="forgotPassword">Forgot Your Password? Click here to reset it!</a>
                        </div>
                    </div>
                }
            </div>
            <div class="align-center footer" style="color:white;">
                <p>© @DateTime.Now.Year InfinityEnergy,Inc. All rights reserved.</p>
            </div>
        </div>
        <div class="col-lg-9 d-lg-block d-none">
            <div class="banner"></div>
        </div>
    </div>
    <script>
        $(document).on("click", "#forgotPassword", function () {
            var data = $('#Login_Name').val();
            if ($('#Login_Name').val() === "") {
                alert('Please enter your login name before clicking here.');
                return;
            }

            $.ajax({
                type: "POST",
                url: "/Login/ForgotPassword",

                data:{ID:data},

                success: function (result) {
                    //$('#Job_LeadSourceId').val(result.ID);
                    alert(result.Test);
                },
                error: function (xhr, status, error) {
                    var Str = `Result: ${status} ${error} ${xhr.status} ${xhr.statusText} ${xhr}`;
                    alert(Str);
                    console.log(xhr);
                }
            });

        });
    </script>
</body>
</html>